body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: cyan;
}

h1 {
    text-align: center;
    color:aliceblue;
    font-size: medium;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#scrambled-word {
    font-size: medium;
    margin-bottom: 20px;
    color: darkblue;
}

#score {
    size: medium;
    margin-bottom: auto;
    color: black;
}

#timer {
    size: medium;
    margin-bottom: auto;
    color: black;
}

#guess-word {
    text-align: center;
    font-size: medium;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    font-size: medium;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#submit-btn {
    size-adjust: auto;
}

#new-btn {
    size-adjust: auto;
}

#hint-btn {
    size-adjust: auto;
}

#message {
    font-size: medium;
    margin-top: 20px;
    color: darkred;
}